body{
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

input[type="radio"]{
    display: none;
}

.radio-content{
    max-height: 0vh;
    overflow: hidden;
    transition: max-height 1s;
}

.rr:checked + .radio-collapse + .radio-content{
    max-height: 80vh;
}

.rr:hover + .radio-collapse + .radio-content{
    max-height: 80vh;
}